realm={{ coturn_domain }}

fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret={{ coturn_static_auth_secret }}
secure-stun
mobility
no-cli

{% for ld in letsencrypt_domains %}
{% if coturn_domain in letsencrypt_domains[ld] %}
cert=/etc/letsencrypt/live/{{ ld }}/fullchain.pem
pkey=/etc/letsencrypt/live/{{ ld }}/privkey.pem
{% endif %}
{% endfor %}
cipher-list="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5"

no-stdout-log
#log-file=/var/tmp/turn.log
#simple-log
syslog

stale-nonce
no-loopback-peers
no-multicast-peers
no-tlsv1
no-tlsv1_1
#no-tlsv1_2
